<div class="listagem-produtos">

    <div class="header">

        <h1 class="mt-5">Listagem de produtos</h1>
        <!--<input type="search" name="" id="">-->

    </div>

    <button class="mt-3" routerLink="/cadastro">Novo produto</button>

    <p *ngIf="this.productService.products.length == 0">Não há produtos cadastrados.</p>
        
    <table class="table table-striped mt-5" *ngIf="this.productService.products.length > 0">

        <thead>

            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Categoria</th>
                <th scope="col">Estoque mínimo</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Ações</th>
            </tr>
                
        </thead>

        <tbody>

            <tr [id]="produto.id" *ngFor="let produto of this.productService.products">
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.estoqueMin }}</td>
                <td>{{ produto.fornecedor }}.</td>
                <td>
                    <i class="fas fa-edit mr-3 ml-2"></i>
                    <i (click)="excluirProduto($event)" class="fas fa-trash"></i>
                </td>
            </tr>

        </tbody>

    </table>

    <!--<button (click)="exibirProdutos()">
        Clique aqui para testar
    </button>-->

</div>

<div class="background d-none"></div>
<div class="pop-up d-none">
    <h1 class="mb-5 mt-2">Deseja deletar esse produto?</h1>
    <h2>Descrição:</h2>
    <p>Descrição</p>
    <h2>Preço:</h2>
    <p>R$0,00</p>
    <h2>Categoria:</h2>
    <p>Categoria</p>
    <h2>Estoque mínimo:</h2>
    <p>0</p>
    <h2>Fornecedor:</h2>
    <p>Fornecedor</p>

    <button class="red-button mt-5">Excluir</button>
</div>

