@charset "UTF-8";

div.form h1 {
    font-size: 4rem;
    text-align: center;
}

div.form form label, div.form form input {
    font-size: 2rem;
}

div.form form label {
    margin-top: 20px;
}

div.form form label:first-child {
    margin-top: 0px;
}

div.form form input {
    height: 30px;
}

div.form form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

div.form form input[type="number"] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

div.form div.button-container {
    display: flex;
    justify-content: center
}

div.form div.button-container button {
    font-size: 2rem;
    cursor: pointer;
    color: var(--ice-color);
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    transition: color .4s, background-color .4s;
}

div.form div.button-container button.green-button {
    margin-right: 20px;
}

div.form div.button-container button.green-button:hover {
    color: var(--light-green);
}

div.form div.button-container button.red-button:hover {
    color: var(--red-color);
}
