@charset "UTF-8";

* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--ice-color);
}

:root {
    --light-green: #39E09B;
    --dark-green: #30B15E;
    --red-color: #EA4931;
    --yellow-color: #F6CE3E;
    --ice-color: #E6ECE2;
}

.btn {
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .4s, color .4s;
}

.red-button {
    background-color: var(--red-color);
    color: var(--ice-color);
    border: 2px solid var(--red-color);
}

.red-button:hover {
    background-color: var(--ice-color);
    color: var(--red-color);
}

.green-button {
    background-color: var(--light-green);
    color: var(--ice-color);
    border: 2px solid var(--light-green);
}

.green-button:hover {
    background-color: var(--ice-color);
    color: var(--light-green);
}

.yellow-button {
    background-color: var(--yellow-color);
    color: var(--ice-color);
    border: 2px solid var(--yellow-color);
}

.yellow-button:hover {
    background-color: var(--ice-color);
    color: var(--yellow-color);
}
